<table border='1px'>

<tr id="row-1">
  <td class='clickable block' id="A1"></td>
  <td class='clickable block' id="A2"></td>
  <td class='clickable block' id="A3"></td>
</tr>
<tr id="row-2">
  <td class='clickable block' id="B1"></td>
  <td class='clickable block' id="B2"></td>
  <td class='clickable block' id="B3"></td>
</tr>
<tr id="row-3">
  <td class='clickable block' id="C1"></td>
  <td class='clickable block' id="C2"></td>
  <td class='clickable block' id="C3"></td>
</tr>

</table>
