<html>
<body>
 <h1>Simple Echo & Chat Server</h1>
 <form id="form">
  <input type="text" id="name" placeholder="name"></input>
  <input type="text" id="input" placeholder="send a message"></input>
  <input type="submit" value="send"></input>
</form>
<div id="msgs"></div>
</body>
</html>

